* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 870px;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    height: 100%;
    background-color: #676262f6;
}

/* ini content sebelah kiri */
.left-content {
    flex: 0 0 250px;  /*lebar tetap konten kanan*/
    background-color: #f9f9fc;
    padding: 50px;
    position: sticky;
    top: 0;   /*tetap dibagian atas ketika scroll*/
    height: 100vh;  /*mengisi tinggi layar*/
    overflow-y: auto;  /*mengaktifkan scroll jika konten terlalu panjang*/
}
.pict{
   height: 250px;
  width: 250px;
  margin-left: 10px;
  border-radius: 100%;
  background:  white;
  border-width: 1px;
  border-bottom: 1px solid #141414;
}
/* ini content sebelah kanan */
.right-content {
    width: 800px;
   padding: 7px;
   height: 115vh;
   background-color:#fcfafac6;
}
h1 {
    margin: 10px;
    color: #141414;
}
h2 {
    margin: 10px;
    color: #958b8b;
}
h3 {
    border-top: 1px solid #1a1919a8;
    border-bottom: 1px solid #1a1919a8;
}
/* Design Personal Info */
#info {
    padding: 5px;
    font-size: 20px;
    color: rgb(54, 54, 54);
    border-bottom: 2px solid #121111e5;

}

#contact-content {
    margin: 10px;
    color: rgba(94, 94, 94, 0.681);
}

/* Design Skill Info */

ul#info-list{
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    color: rgba(94, 94, 94, 0.681);
}
li#info-item {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
#summary {
    font-size: 28px;
    text-align: justify;
}

#exp{
    font-size: 26px;
    text-align: center;
    background-color: #121212a9;
    color: #f9f9fc;

}

table {
    width: 100%;
    font-size: 22px;
}
.social-icons {
    display: flex;
    gap: 10px; /* Jarak antara ikon */
}

.social-icons a {
    text-decoration: none; /* Hilangkan garis bawah pada link */
}

.social-icons img {
    width: 32px; /* Ukuran ikon */
    height: 32px;
}
